.navbar-custom-color {
    background-color: #263956;
}

.navbar-text-custom-color {
    color: white;
}

.navbar-text-custom-color:hover {
    color: #D7A6B5;
}

.navbar-custom-brand-color {
    color: #D7A6B5;
}

.navbar-custom-brand-color:hover {
    color: white;
}

.movie-details-page-img {
    max-width: 75%;
    height: auto;
}

.background-img {
    background-image: url('https://wallpaperaccess.com/full/42617.jpg');
}

/* body {
    background-color: #e8e8e8;
} */

.movie-title {
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    color: #222831;
}

.movie-card {
    background-color: seashell;
}

/* .movie-title */
/* .remove */
/* .add */

#create-account-form {
    display: flexbox;
}

#login-form {
    display: flexbox;
}