<!doctype html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav>
            <h2><a href='/'>Home</a></h2>
            <p><a href='/user_profile'>Profile</a></p>
            <p><a href='/login'>Signup/Login</a></p>
        </nav>
        {% for msg in get_flashed_messages() %}
        <p class='flash-msg'>{{ msg }}</p>
        {% endfor %}
        
        {% block body %}{% endblock %}
    </body>
</html>
