{% extends 'base.html' %}
{% block title %} Studio Ghibli Movie Tracker {% endblock %}
{% block body %}
<div>
    <h2>Sign Up!</h2>
    <form id="create-account-form" action="/create_account" method="POST">
        <p>
            Email: <input id="create-account-email" type="text" name="email">
        </p>
        <p>
            Username: <input id="create-account-username" type="text" name="username">
        </p>
        <p>
            Password: <input id="create-account-password" type="text" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</div>
<div>
    <h2>Sign In!</h2>
    <form id="login-form" action='/login' method='POST'>
        <p>
            Username or email: <input id="login-username-email" type="text" name="username_email">
        </p>
        <p>
            Password: <input id="login-password" type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>


    </form>
</div>
<div>
    <form action="/logout" method="Post">
        <button>Logout</button>
    </form>
</div>
{% endblock %}