{% extends 'base.html' %}
{% block title %} Studio Ghibli Movie Tracker {% endblock %}
{% block body %}
<h1>{{ movie.title }}</h1>
<img src="{{ movie.image_url }}">
<p>
    Year Released: {{ movie.year_released }}
    Overview: <p>{{ movie.overview }}</p>
    Director: {% for castcrew in director %} {{ castcrew.name }}{% endfor %}
    Producer: {% for castcrew in director %} {{ castcrew.name }} {% endfor %}
    Duration: {{movie.duration}}
    Site Rating: {{ site_rating }}
</p>

<form action="/submit_review{{ movie.movie_id }}" method="POST">
    <p>
        <input type="text" name="new_review">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

{% for review in movie.reviews %}
<div>
    <p>
        {{ review.users.username }}
        {{ review.timestamp }}
        {{ review.review_content }}
    </p>
</div>
{% endfor %}
{% endblock %}