{% extends 'base.html' %}
{% block title %} Studio Ghibli Movie Tracker {% endblock %}
{% block body %}
<h1>{{ movie.title }}</h1>
<img src="{{ movie.image_url }}">
<div>
    <p>Year Released: {{ movie.year_released }}</p>
    <p>Overview:</p>
    <p>{{ movie.overview }}</p>
    <p>Director: {% for castcrew in director %} {{ castcrew.name }}{% endfor %}</p>
    <p>Producer: {% for castcrew in director %} {{ castcrew.name }} {% endfor %}</p>
    <p>Duration: {{movie.duration}}</p>
    <p>Site Rating: {{ site_rating }}</p>
</div>

{% if %}
{% endif %}

{% if rating is not none%}
    Your rating: {{ rating.score }}
{% else %}
    <form action="/submit_rating{{ movie.movie_id }}" method="POST">

        <input type="radio" name="score" value="1">
        <label>1</label>

        <input type="radio" name="score" value="2">
        <label>2</label>

        <input type="radio" name="score" value="3">
        <label>3</label>

        <input type="radio" name="score" value="4">
        <label>4</label>

        <input type="radio" name="score" value="5">
        <label>5</label>

        <input type="submit">
        <label>Submit rating</label>
    </form>
{% endif %}

<form action="/submit_review{{ movie.movie_id }}" method="POST">
    <p>
        <input type="text" name="new_review">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

{% for review in movie.reviews %}
<div>
    <p>
        {{ review.users.username }}
        {{ review.timestamp }}
        {{ review.review_content }}
    </p>
</div>
{% endfor %}
{% endblock %}